<h1>
  My Blog
</h1>
<div class="flex flex-col gap-4">
  <% @blog_posts.each do |blog_post| %>
    <article class="px-4 py-2k<%= blog_post.draft? ? 'bg-gray-200 text-gray-400 rounded' : '' %>  <%= blog_post.scheduled? ? 'bg-blue-200 rounded' : '' %>">
      <h2>
        <%= link_to blog_post.title, blog_post %>
      </h2>
      <p>
        <%= blog_post.content %>
      </p>
    </article>
  <% end %>
</div>

<div class="my-16">
  <%== pagy_nav(@pagy)  %>
</div>